.users_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.users_list h3 {
  margin: 0px;
  text-align: center;
}


.users_list li {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgb(215, 215, 215);
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
}

.acommodate_love {
  display: flex !important;
  justify-content: space-between;
  font-family: "Tangerine", serif;
  font-size: 25px !important;
    font-weight: bolder !important;
  letter-spacing: 2px;
}

.heart {
  color: red;
        text-shadow: 4px 4px 4px #aaa;
}